<section>
  <h2>Headline</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
  <div class="actions">
    <a href="#">Button <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/><polyline points="15 3 21 3 21 9"/><line x1="10" y1="14" x2="21" y2="3"/></svg></a>
    <a href="#">Button <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/><polyline points="15 3 21 3 21 9"/><line x1="10" y1="14" x2="21" y2="3"/></svg></a>
  </div>
</section>

<style>
  section {
    padding: 4rem 2rem 6rem 2rem;
  }

  h2 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1rem, 5vw, 3rem);
    margin: 0;

  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .actions a {
    background-color: #008b46;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.6em;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }

  .actions a:hover {
    background-color: #07733d;
  }
</style>