<section>
  <h2>Yearbook Information</h2>
  <p>Thank you for sending photos and student answers to our Yearbook Committee. We are no longer accepting submissions, and the yearbooks have been sent off to the printer!</p>
  <p>Each student is provided a yearbook as part of the general <strong>Farewell fee</strong>. No need to specifically purchase a yearbook.</p>
  <h2>Questions? Comments?</h2>
  <p>The Farewell Committee will continue to meet once a month as we approach the date! If you have any questions or comments, please email us at <a href="mailto:westgategrade6farewell@gmail.com">westgategrade6farewell@gmail.com</a>.</p>
</section>

<style>
  section {
    text-align: left;
  }

  p + h2 {
    margin-top: 1.5em;
  }
</style>