---
import westgate from '../assets/westgate.png';
---
<section>
  <img src={westgate.src} alt="Westgate School" />
</section>

<style>
  section {
    position: relative;
    width: 100%;
    text-align: center;
  }

  img {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: clamp(300px, 60vw, 600px);
  }
</style>