<section>
  <div class="marquee">
  <h2><span>Event Schedule</span><span aria-hidden="true">Event Schedule</span><span aria-hidden="true">Event Schedule</span><span aria-hidden="true">Event Schedule</span><span aria-hidden="true">Event Schedule</span><span aria-hidden="true">Event Schedule</span><span aria-hidden="true">Event Schedule</span><span aria-hidden="true">Event Schedule</span><span aria-hidden="true">Event Schedule</span><span aria-hidden="true">Event Schedule</span><span aria-hidden="true">Event Schedule</span></h2>
  </div>
  <ul class="kids-and-parents">
    <li><h3>9-10am</h3> <p>Assembly (arrival between 8:45 and 8:55am) </p><span class="audience">Kids and Parents</span></li>
    <li><h3>10-10:30am</h3> <p>Pics with parents (in gym and outside on North side of school)</p><span class="audience">Kids and Parents</span></li>
  </ul>
  <ul class="kids-only">
    <li><h3>10:30-11:30am</h3> <p>Snack (kids bring themselves, organize backpacks and leave personal items in classroom) and games (if it's nice outside, spike ball, Jenga, nine square / if it's raining, we will transfer to the gym)  </p><span class="audience">Kids Only</span></li>
    <li><h3>11:30am-1:30pm</h3> <p>Dance / Pizza / Candy Concession (includes vegetarian and cheese pizzas)</p><span class="audience">Kids Only</span></li>
    <li><h3>1:30-2:30pm</h3> <p>Outdoor Games / Water fight  (please bring towel and change of clothes)</p><span class="audience">Kids Only</span></li>
  </ul>
</section>

<style>
  section {
    margin-top: 6rem;
    max-width: none;
    color: #fff;
  }

  .marquee {
    background-color: #000;
    padding: 1.5em 0;
    font-size: clamp(0.875rem, 2vw, 1.25rem);
  }

  h2 {
    text-transform: uppercase;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-wrap: nowrap;
    gap: 4em;
    animation: marquee 30s linear infinite alternate;
    padding: 0;
    margin: 0;
  }

  h2 span {
    white-space: nowrap;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 2rem;
    background-color: #008b46;
  }

  li:nth-child(2n + 1) {
    background-color: #07733d;
  }

  h3 {
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    font-family: "DM Sans", serif;
    white-space: nowrap;
    margin: 0;
    padding: 0;
  }

  p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @keyframes marquee {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }
</style>